@model SiliconShores.Models.theme_areas

@{
    ViewBag.Title = @Html.DisplayFor(model => model.theme_area_name);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.DisplayFor(model => model.theme_area_name)</h2>

<div>
    <p>
        <!-- Replace with image scroller in revision 2-->
        @foreach (String s in ViewBag.ImageList)
        {
           
            <img src = "@s"/>
        }
    </p>
    <p>
        @Html.DisplayFor(model => model.theme_area_description)
    </p>
</div>
