@model SiliconShores.Models.theme_areas

@{
    ViewBag.Title = @Html.DisplayFor(model => model.theme_area_name);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Html.DisplayFor(model => model.theme_area_name)</h1>

<div>
    <p>
        <!-- Replace with image scroller in revision 2-->
        @foreach (String s in ViewBag.ImageList)
        {
           
            <img src = "@s"/>
        }
    </p>
    <div>
        <fieldset>

            <blockquote> @Html.DisplayFor(model => model.theme_area_description) </blockquote>
        </fieldset>
    </div>
</div>
