@model SiliconShores.Models.theme_areas
  

@{
    ViewBag.Title = @Html.DisplayFor(model => model.theme_area_name);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Html.DisplayFor(model => model.theme_area_name)</h1>


    <div class="container marketing">
        <div class="row">
@foreach (String s in ViewBag.ImageList)
                {
            <div class="col-lg-4">
           
<img class="img-rounded" src="@s" width="375" height="250" />
                

            </div>
}
            </div>
            </div>
            <div>
                <br/>
                <fieldset>

                    <blockquote> @Html.DisplayFor(model => model.theme_area_description) </blockquote>
                </fieldset>
            </div>

