
@{
    ViewBag.Title = "Map";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Theme Park Map</h2>

<!DOCTYPE html>
<html>
<head>
    <title>

    </title>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAE4UYVqq6uRxKVfmMxSscZ2nhEoSo8EDw&sensor=true">
    </script>

    <script>
        function initialize() {
            var mapProp = {
                center: new google.maps.LatLng(29.7203653, -95.3428404),
                zoom: 15,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
</head>

<body>
    <div id="googleMap" style="width:650px;height:400px"></div>
</body>
</html>

