
@{
    ViewBag.Title = "Map";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Theme Park Map</h2>


<!DOCTYPE html>
<html>
<body>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAE4UYVqq6uRxKVfmMxSscZ2nhEoSo8EDw&sensor=true">
    </script>
</body>   
</html>