<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>siliconshores.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>SiliconShores</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>Ryan</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="theme_park_dbEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=siliconshores.net;Initial Catalog=theme_park_db;Persist Security Info=True;User ID=team_6;Password=SiliconAdmin" Name="server=siliconshores.net;user id=team_6;password=SiliconAdmin;persistsecurityinfo=True;database=theme_park_db" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SiliconShores.Models.theme_park_dbEntities, SiliconShores" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SiliconShoresDatabase" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=siliconshores.net;user id=team_6;persistsecurityinfo=True;database=theme_park_db" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SiliconShoresDatabase_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="server=siliconshores.net;user id=team_6;persistsecurityinfo=True;database=theme_park_db" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="IdentityConnection" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=siliconshores.net;user id=team_6;password=SiliconAdmin;database=theme_park_db;persistsecurityinfo=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\IdentityConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="server=siliconshores.net;user id=team_6;password=SiliconAdmin;database=theme_park_db;persistsecurityinfo=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)IdentityConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SiliconShoresDatabase-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)theme_park_dbEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.SiliconShoresModel.csdl|res://*/Models.SiliconShoresModel.ssdl|res://*/Models.SiliconShoresModel.msl;provider=MySql.Data.MySqlClient;provider connection string="server=siliconshores.net;user id=team_6;password=SiliconAdmin;persistsecurityinfo=True;database=theme_park_db"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>