@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutPortal.cshtml";
}
<div class="col-sm-9 col-sm-offset-2 col-md-10 col-md-offset-1 main">
    <div class="row placeholders">
        <div class="col-xs-6 col-sm-3 placeholder">
            <img src="~/Content/Images/Home/map.jpg" class="img-circle" alt="Generic placeholder thumbnail" height="140" width="140"/>
            <h4>Theme Park</h4>
            <p><a class="btn btn-success" role="button" href="/ThemeParkAdmin">Manage &raquo;</a>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <img src="~/Content/Images/Home/rollercoaster pic.png" class="img-circle" alt="Generic placeholder thumbnail" height="140" width="140"/>
            <h4>Attractions</h4>
            <p><a class="btn btn-success" role="button" href="/AttractionAdmin">Manage &raquo;</a>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <img src="~/Content/Images/Home/tickets.png" class="img-circle" alt="Generic placeholder thumbnail" height="140" width="140"/>
            <h4>Tickets</h4>
            <p><a class="btn btn-success" role="button" href="/HotelReservationAdmin">Manage &raquo;</a>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <img src="~/Content/Images/Home/plan vacation.jpg" class="img-circle" alt="Generic placeholder thumbnail" height="140" width="140"/>
            <h4>Vacations</h4>
            <p><a class="btn btn-success" role="button" href="/TicketSaleAdmin">Manage &raquo;</a>
        </div>
    </div>
</div>

<script>
    $(document).ready(setActiveLink("#id_dash"));
</script>