@{
    ViewBag.Title = "Restaurant Sales";
    Layout = "~/Views/Shared/_LayoutPortal.cshtml";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    @using (Html.BeginForm("DisplayTicketSalesWeather", "ReportTicketSales", FormMethod.Get))
    {
        <div class="form-horizontal">

            <div class="form-group">
                <label for="id_start" class="control-label col-md-2">Start Date</label>
                <div class="col-md-10">
                    <input name="startDate" id="id_start" type="date" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label for="id_end" class="control-label col-md-2">End Date</label>
                <div class="col-md-10">
                    <input name="endDate" id="id_end" type="date" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Run Report" class="btn btn-default" />
                </div>
            </div>

        </div>
    }
</div>

<div class="row">
    <div class="col-md-6 col-md-push-1">
        <img src="/ReportTicketSales/GenerateRestReport1?@ViewBag.Params" />
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-push-1">
        <img src="/ReportTicketSales/GenerateRestReport2?@ViewBag.Params" />
    </div>
</div>
<script>
    $(document).ready(setActiveLink("#id_report"));
</script>
