@{
    ViewBag.Title = "Get Reports";
    Layout = "~/Views/Shared/_LayoutPortal.cshtml";
}


<h2>@ViewBag.Title</h2>

<form action="/ReportTicketSales/DisplayTicketSalesWeather" method="get" id="id_repform">
    <div class="form-horizontal">

        <div class="form-group">
            <label for="id_start" class="control-label col-md-2">Start Date</label>
            <div class="col-md-10">
                <input name="startDate" id="id_start" type="date" class="form-control"/>
            </div>
        </div>

        <div class="form-group">
            <label for="id_end" class="control-label col-md-2">End Date</label>
            <div class="col-md-10">
                <input name="endDate" id="id_end" type="date" class="form-control"/>
            </div>
        </div>

        <div class="form-group">
            <label for="id_end" class="control-label col-md-2">Report Type</label>
            <div class="col-md-10">
                <select name="reportChoice" id="id_rep" class="form-control">
                    <option value="0">Ticket Sales and Weather</option>
                    <option value="1">Restaurant Sales</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" id="id_submitButton" value="Run Report" class="btn btn-default" onclick=""/>
            </div>
        </div>
    </div>
</form>

<script>
    $(document).ready(function (){
        setActiveLink("#id_report");

        $("#id_rep").change(function (event) {
            var selected = $("select[id=id_rep]")[0].selectedOptions[0].value;
            var action = "";
            switch (selected) {
                case "0":
                    action = "/ReportTicketSales/DisplayTicketSalesWeather";
                    break;
                case "1":
                    action = "/ReportTicketSales/DisplayRestaurantSales";
                    break;
                default:
            }
            $("#id_repform").attr("action", action);
        });

    });
    
</script>