@{
    ViewBag.Title = "TicketPurchase";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int numChildren=1, numAdult=0, numSenior=0, numMilitary=0;    
}

<h2>Ticket Purchase</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    //min for no negative numbers, and max just to set a limit;
    <div class="form-group">
        <label for="ct_id">Children Tickets:</label>
        <input id="ct_id" name="childrenTickets" type="number" min="0" max="10" />
    </div>

    <div class=" form-group">
        <label for="at_id">Adult Tickets:   </label>
        <input id="at_id" name="adultTickets" type="number" min="0" max="10" />
    </div>

    <div class="form-group">
        <label for="st_id">Senior Tickets:  </label>
        <input id="st_id" name="seniorTickets" type="number" min="0" max="10" />
    </div>

    <div class="form-group">
        <label for="mt_id">Military Tickets:    </label>
        <input id="mt_id" name="militaryTickets" type="number" min="0" max="10" />
    </div>

    <div class="form-group">
        <div class="col-md col-md-10">
            <input type="submit" value="Purchase" class="btn btn-default"/>
        </div>
    </div>
}