
@{
    ViewBag.Title = "ThankYou";
}

<h2>Thank You for your purchase, an email has been sent with your purchase order.</h2>

<div>
    <p><a class="btn btn-default" href="/">Return to the Home Page</a></p>
</div>