@{
    ViewBag.Title = "TicketPurchase";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int numChildren, numAdult, numSenior, numMilitary;    
}

<h2>Ticket Purchase</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    //min for no negative numbers, and max just to set a limit;
    <div class="form-group">
        <lable>Children Tickets:</lable>
        <input name="numChildren" type="number" min="0" max="10" />
    </div>

    <div class=" form-group">
        <lable>Adult Tickets:   </lable>
        <input name="numAdult" type="number" min="0" max="10" />
    </div>

    <div class="form-group">
        <lable>Senior Tickets:  </lable>
        <input name="numSenior" type="number" min="0" max="10" />
    </div>

    <div class="form-group">
        <lable>Military Tickets:    </lable>
        <input name="numMilitary" type="number" min="0" max="10" />
    </div>

    <div class="form-group">
        <div class="col-md col-md-10">
            <input type="button" value="Purchase" class="btn btn-default" onclick="@Url.Action("ProcessTickets","TicketsController")" 
            
            />
        </div>
    </div>
}