
@{
    ViewBag.Title = "Jobs";
}
<div class="row">
    <div class="text-center col-md-4 col-md-offset-4">
        <h2>Jobs</h2>
    </div>
</div>
<div class="row">
    <div class="text-center col-md-4 col-md-offset-4">
        <h3>There are no jobs, we are going out of business.</h3>
    </div>
</div>



