@{
    ViewBag.Title = "Main";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Main</h2>

<script src="jq/jquery-2.1.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>

<div>
    probably decorate this page with random employee related things.
</div>

<div class="btn-group-vertical" role="group" aria-label="...">

    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            Employee Management
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a tabindex="-1" href="/EmployeeAdmin/Index">Employee List</a></li>
            <li><a tabindex="-1" href="/RoleAdmin/Index">Role Descriptions</a></li>
        </ul>
    </div>

    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            Theme Park Management
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a tabindex="-1" href="/ThemeParkAdmin/Index">Theme Parks</a></li>
            <li><a tabindex="-1" href="/ThemeAreaAdmin/Index">Theme Areas</a></li>
            <li><a tabindex="-1" href="/WeatherAdmin/Index">Weather Logs</a></li>
        </ul>
    </div>

    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            Attraction Management
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a tabindex="-1" href="/AttractionAdmin/Index">Attraction List</a></li>
            <li><a tabindex="-1" href="/BreakdownAdmin/Index">Breakdowns</a></li>
            <li><a tabindex="-1" href="/RideReportAdmin/Index">Ride Report</a></li>
        </ul>
    </div>

    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            Hotel Management
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a tabindex="-1" href="/HotelAdmin/Index">Hotel List</a></li>
            <li><a tabindex="-1" href="/HotelReservationAdmin/Index">Hotel Reservations</a></li>
            <li><a tabindex="-1" href="/HotelRoomAdmin/Index">Hotel Room Status?</a></li>
            <li><a tabindex="-1" href="/RoomTypeAdmin/Index">Room Type Descriptions</a></li>
        </ul>
    </div>

    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            Restaurant Management
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a tabindex="-1" href="/RestaurantAdmin/Index">Restaurant List</a></li>
            <li><a tabindex="-1" href="/RestaurantReportAdmin/Index">Restaurant Reports</a></li>
            <li><a tabindex="-1" href="/FoodCategoriesAdmin/Index">Food Categories </a></li>
        </ul>
    </div>

    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            Tickets Management
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a tabindex="-1" href="/TicketSaleAdmin/Index">Ticket Sales</a></li>
            <li><a tabindex="-1" href="/TicketTypeAdmin/Index">Ticket Description</a></li>
        </ul>
    </div>

</div>