
@{
    ViewBag.Title = "Main";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Main</h2>

<div>
    probably decorate this page with random employee related things.
</div>

<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
    <li><a tabindex="-1" href="#">Attraction Admin</a></li>
    <li><a tabindex="-1" href="#">Breakdown Admin</a></li>
    <li><a tabindex="-1" href="#">Employee Admin/a></li>
    <li><a tabindex="-1" href="#">FoodCategory Admin</a></li>
    <li><a tabindex="-1" href="#">Hotel Admin</a></li>
    <li><a tabindex="-1" href="#">Hotel Reservation Admin</a></li>
    <li><a tabindex="-1" href="#">Hotel Room Admin</a></li>
    <li><a tabindex="-1" href="#">Restaurant Report Admin</a></li>
    <li><a tabindex="-1" href="#">Ride Report Admin</a></li>
    <li><a tabindex="-1" href="#">Role Admin</a></li>
    <li><a tabindex="-1" href="#">Room Type Admin</a></li>
    <li><a tabindex="-1" href="#">Theme Areas Admin</a></li>
    <li><a tabindex="-1" href="#">Theme Park Admin</a></li>
    <li><a tabindex="-1" href="#">Ticket Sale Admin</a></li>
    <li><a tabindex="-1" href="#">Ticket Type Admin</a></li>
    <li><a tabindex="-1" href="#">Weather Admin</a></li>
</ul>