
@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    4800 Calhoun Road<br />
    Houston, TX 77004<br />
    <abbr title="Phone">P:</abbr>
    555.123.4568
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@siliconshores.net</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@siliconshores.net</a>
</address>