@model IEnumerable<SiliconShores.Models.theme_park>
@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>@Html.DisplayFor(model => model.theme_park_name)</h1> 
    <p class="lead">Silicon Shores is the greatest vacation destination for families big and small</p>
    <p><a href="/Home/About" class="btn btn-primary btn-lg">About us... &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Book your vacation</h2>
        <p>
            Unfortunately our online booking system is not yet up. However, you can still book by contacting us
            the old fashioned way
        </p>
        <p><a class="btn btn-default" href="/Home/Contact">Contact us &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Not Convinced Yet?</h2>
        <p>Your loss, I would link you to more info to convince you but there is nothing else to link you to yet</p>
        <p><a class="btn btn-default" href="/">This link just reloads the page &raquo;</a></p>
    </div>
</div>
