@model SiliconShores.Models.theme_park
@{
    ViewBag.Title = "Home";

}

<div class="jumbotron" id="title">
    <h1>@Html.DisplayFor(model => model.theme_park_name)</h1>
    <p class="lead">Silicon Shores is the greatest vacation destination for families big and small</p>
    <p><a href="/Home/About" class="btn btn-primary btn-lg">About us... &raquo;</a></p>
</div>

<div class="row">

    <div class="row">
        <div class="col-md-6">
            <img src="~/Home/rollercoaster pic.png" alt="Sample Image" width="560" height="300" />
            <h1>Rides</h1>
        </div>

        <div class="col-md-6">
            <img src="~/Home/tickets.png" alt="Sample Image" width="550" height="300" />
            <h1>Buy Tickets</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img src="~/Home/plan vacation.gif" alt="Sample Image" width="550" height="300" />
            <h1>Plan Vacation</h1>
        </div>

        <div class="col-md-6">
            <br />
            <img src="~/Home/map.jpg" alt="Sample Image" width="550" height="300" />
            <h1>Map</h1>
        </div>
    </div>

</div>