@model IEnumerable<SiliconShores.Models.hotel_reservations>

@{
    ViewBag.Title = "Planning";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Plan Your Perfect Day</title>
    <style>
        body {margin:auto; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:medium}
    </style>



</head>
</html>