
@{
    ViewBag.Title = "ThankYou";
}
<div class="row">
    <div class="text-center col-md-4 col-md-offset-4">
        <h3>Thank You for your purchase, an email has been sent with your purchase order. </h3>
        <p><small>If you don't recieve your email within a few minutes, begin panicking.</small></p>
    </div>
</div>
<div class="row">
    <div class="text-center col-md-4 col-md-offset-4">
        <p><a class="btn btn-success" href="/">Return to the Home Page</a></p>
    </div>
</div>
